[submodule "setupEnv"]
	path = setupEnv
	url = git@github.com:sponsorCoinAdmin/spCoinSetupEnv.git
[submodule "scripts/DDD"]
	path = scripts/DDD
	url = git@github.com:sponsorCoinAdmin/spCoinExactInputQuoteTrans.git
